<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
         <a href="{{ path('home.index') }}"><h2 class="text-light">Symrecipe</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a href="{{ path('home.index') }}"><h4 class="nav-link">Home</h4></a>
                        <span class="visually-hidden">(current)</span>
                    </h4>
                </li>
                <li class="nav-item">
                    <a href="{{ path('ingredient.index') }}"><h4 class="nav-link">Ingredient</h4></a>
                        <span class="visually-hidden">(current)</span>
                    </h4>
                </li>
                <li class="nav-item">
                    <a href="{{ path('recipe.index') }}"><h4 class="nav-link">Recipe</h4></a>
                        <span class="visually-hidden">(current)</span>
                    </h4>
                </li>
                <li class="nav-item">
                    <a href="{{ path('security.login') }}"><h4 class="nav-link">Sign in</h4></a>
                        <span class="visually-hidden">(current)</span>
                    </h4>
                </li>
                <li class="nav-item">
                    <a href="{{ path('security.registration') }}"><h4 class="nav-link">Sign up</h4></a>
                        <span class="visually-hidden">(current)</span>
                    </h4>
                </li>
            </ul>
        </div>
    </div>
</nav>