{% extends 'base.html.twig' %}

{% block title %}Recipes List - Symrecipe{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 class="text-center">Recipes</h1>

    {% if not recipes.items is same as([]) %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <div class="d-flex justify-content-between my-4">
        <div class="count">
            <h5>Recipes total : {{ recipes.getTotalItemCount }}</h5>
        </div>
        <a href="{{ path('recipe.new') }}" class="btn btn-primary">Add</a>
    </div>

        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Difficulty</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr class="table-success">
                        <th scope="row">{{ recipe.id }}</th>
                        <td>{{ recipe.name }}</td>
                        <td>{% if recipe.price is null %}Non renseigné{% else %}{{ recipe.price }} {% endif %}</td>
                        <td>{% if recipe.difficulty is null %}Non renseigné{% else %}{{ recipe.difficulty }} {% endif %}</td>
                        <td>{{ recipe.createdAt|date('d/m/Y') }}</td>
                        <td><a href="{{ path('recipe.edit', {id: recipe.id}) }}" class="btn btn-info">Edit</a></td>
                        <td><a href="{{ path('recipe.delete', {id: recipe.id}) }}" class="btn btn-warning">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(recipes) }}
        </div>
    {% else %}
        <h4>There is no recipes !</h4>
    {% endif %}
</div>
{% endblock %}

