{% extends "base.html.twig" %}

{% block title %} {{ recipe.name }} - Symrecipe{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-4">{{ recipe.name }}</h1>

        <div class="mt-4">
            {% if recipe.imageName %}
                <img style="width: 250px; height:200px;" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="250" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">No image</text>
                </svg>
            {% endif %}
        </div>

        <div class="badge bg-info mt-4">Créée le {{ recipe.createdAt|date('d/m/Y')}}</div>

        <p class="mt-4">La moyenne de cette recette est de {{ recipe.average|number_format(2, '.', ',') }} / 5</p>
        
        <div class="mt-4">
        {% if recipe.time %}
            <p>Temps (en minute) : {{ recipe.time }}</p>
        {% else %}
            <p>Temps non renseigné</p>
        {% endif %}
        </div>

        <div class="mt-4">
        {% if recipe.difficulty %}
            <p>Difficulté : {{ recipe.difficulty }}/5</p>
        {% else %}
            <p>difficulté non renseigné</p>
        {% endif %}
        </div>

        <div class="mt-4">
        {% if recipe.nbPeople %}
            <p>Pour {{ recipe.nbPeople }} personnes</p>
        {% else %}
            <p>Nombre de personnes non renseigné</p>
        {% endif %}
        </div>

        <div class="mt-4">
        {% if recipe.price %}
            <p>Prix (en €) : {{ recipe.price }}</p>
        {% else %}
            <p>Prix non renseigné</p>
        {% endif %}
        </div>
    
        <div class="mt-4">{{ recipe.description|raw }}</div>
    
        <h5 class="mt-4">Ingrédients</h5>
        {% for ingredient in recipe.ingredients %}
            <div class="badge bg-primary">{{ ingredient.name }}</div>
        {% endfor %}

        <div class="mark mt-4">
            {{ form(form) }}
        </div>
    
    </div>
{% endblock %}